<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#"><b>FOOD SERVICE</b></a>
</nav>

<body class="responsive" style="height:660px; width:1920px;">
    <div class="container">
        <div class="text1">
            <p style="color:white;font-size: 36px;margin: 180px 200px 10px -618px;">
                <b> Browse your food</b>
            </p>
            <input class="myDIV" type="text" ng-model="name" placeholder="Enter your name" #name>
            <button style="text-align:center" class="show-button-main" (click)="onUserClick(name.value)">ENTER</button><br>
        </div>
    </div>
</body>